:root {
  --clr-primary-400: hsl(157, 74%, 62%);
  --clr-primary-200: hsl(158, 75%, 81%);
  --clr-blue-300: hsl(225, 40%, 83%);
  --clr-blue-600: hsl(225, 21%, 45%);
  --clr-blue-900: hsl(225, 26%, 23%);
  --clr-blue-950: hsl(224, 35%, 11%);
  --clr-blue-950a: hsla(225, 36%, 11%, 0.9);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-100a: hsla(0, 0%, 100%, 0.5);
  --clr-red-500: hsl(0, 96%, 61%);

  --ff-base: "Chivo", sans-serif;

  --fs-32: 2rem;

  --fw-light: 100;
  --fw-regular: 500;
  --fw-bold: 600;

  --w-tablet: 70%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3 {
  line-height: 1;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* general styling */
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  font-size: 0.875rem;
  min-height: 100vh;
  overflow: hidden;
  color: var(--clr-blue-300);
}

main {
  background-image:
    linear-gradient(var(--clr-blue-950a), var(--clr-blue-950a)),
    url(./../mobile/image-host.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.25rem;
  text-align: center;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.content > img {
  margin-top: 6.875rem;
  width: 8.4375rem;
}

.heading {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.heading h1 {
  margin-bottom: 1rem;
  font-size: var(--fs-32);
  line-height: 1.2;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--clr-neutral-100);
}
.heading h1 span {
  color: var(--clr-primary-400);
}

.heading p {
  line-height: 1.5;
}

.logos {
  width: 100%;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logos > img {
  flex: 1;
  min-width: 0;
  height: auto;
  filter: invert(1) hue-rotate(185deg) saturate(1.5) brightness(1.25);
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
form input,
form button {
  display: block;
  width: 100%;
  outline: none;
  border-radius: 1.5rem;
  font-weight: var(--fw-bold);
}

form input {
  padding: 0.5rem 2rem;
  background-color: var(--clr-blue-900);
  line-height: 2;
  color: var(--clr-neutral-100);
  border: solid 0.125rem transparent;
}

form input::placeholder {
  color: var(--clr-neutral-100);
  opacity: 0.5;
}

form input.alert {
  border-color: var(--clr-red-500);
}

.alert-text {
  color: var(--clr-red-500);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

form button {
  border: 0;
  background-color: var(--clr-primary-400);
  color: var(--clr-blue-950);
  cursor: pointer;
  padding: 0.7rem 0;
  transition: background 0.4s;
}

form button:hover {
  background: var(--clr-primary-200);
}

.pattern-dots {
  display: none;
}

/* Tablet size */
@media screen and (min-width: 768px) {
  .content {
    align-items: flex-start;
    padding: 2.75rem;
  }
  .content__contain {
    display: flex;
    flex-direction: column;
    width: 37rem;
    align-items: flex-start;
    text-align: left;
    background-color: var(--clr-blue-950);
  }

  .heading {
    max-width: 60%;
  }

  form {
    position: relative;
    width: var(--w-tablet);
  }

  form input[type="email"] {
    width: var(--w-tablet);
  }

  form button {
    position: absolute;
    top: 0;
    right: 0;
    width: 10.75rem;
    height: 95%;
  }

  .logos {
    order: 99;
    margin-top: 2rem;
    width: 34.375rem;
  }

  .content > img.pattern-dots {
    display: initial;
    width: auto;
    transform: translate(80vw, -10rem);
  }

  /* main {
    background-image:
      linear-gradient(var(--clr-blue-950a), var(--clr-blue-950a)),
      url(./../mobile/image-host.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
  } */
}
