:root {
  --clr-primary-400: hsl(157, 74%, 62%);
  --clr-primary-200: hsl(158, 75%, 81%);
  --clr-blue-300: hsl(225, 40%, 83%);
  --clr-blue-600: hsl(225, 21%, 45%);
  --clr-blue-900: hsl(225, 26%, 23%);
  --clr-blue-950: hsl(224, 35%, 11%);
  --clr-blue-950a: hsla(225, 36%, 11%, 0.9);
  --clr-blue-950b: hsla(225, 36%, 11%, 0.9);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-100a: hsla(0, 0%, 100%, 0.5);
  --clr-red-500: hsl(0, 96%, 61%);

  --ff-base: 'Chivo', sans-serif;

  --fs-32: 2rem;

  --fw-light: 100;
  --fw-regular: 500;
  --fw-bold: 600;

  --w-tablet: 28rem;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3 {
  line-height: 1;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* general styling */
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  font-size: 0.875rem;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  color: var(--clr-blue-300);
}

main {
  background-color: var(--clr-blue-950a);
  min-height: 100vh;
  background-repeat: no-repeat;
  position: relative;
}

.background-img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
  object-fit: cover; /* Zachová poměr stran a zaplní prostor */
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 9.1563rem;

  text-align: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.content .logo {
  margin-top: 9.1563rem;
  width: 8.4375rem;
}

.heading {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  max-width: 320px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.heading h1 {
  margin-bottom: 1rem;
  font-size: var(--fs-32);
  line-height: 1.2;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--clr-neutral-100);
}
.heading h1 span {
  color: var(--clr-primary-400);
}

.heading p {
  line-height: 1.5;
}

.logos {
  width: 100%;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logos > img {
  flex: 1;
  min-width: 0;
  height: auto;
  filter: invert(1) hue-rotate(185deg) saturate(1.5) brightness(1.25);
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

form input,
form button {
  display: block;
  width: 100%;
  outline: none;
  border-radius: 1.5rem;
  font-weight: var(--fw-bold);
}

form input {
  padding: 0.5rem 2rem;
  background-color: var(--clr-blue-900);
  line-height: 2;
  color: var(--clr-neutral-100);
  border: solid 0.125rem transparent;
}

form input::placeholder {
  color: var(--clr-neutral-100);
  opacity: 0.5;
}

form input.alert {
  border-color: var(--clr-red-500);
}

.alert-text {
  color: var(--clr-red-500);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

form button {
  border: 0;
  background-color: var(--clr-primary-400);
  color: var(--clr-blue-950);
  cursor: pointer;
  padding: 0.7rem 0;
  transition: background 0.4s;
}

form button:hover {
  background: var(--clr-primary-200);
}

.pattern-dots {
  display: none;
}

/* Tablet size */
@media screen and (min-width: 768px) {
  body {
    background-color: var(--clr-blue-950);
  }

  main {
    background-color: transparent;
  }

  .background-img {
    position: absolute;
    width: 60vw;
    min-height: 800px;
    max-height: 800px;
    right: 0;
    left: auto;
    top: 0;
    object-fit: cover;
    object-position: 40%;
    z-index: 0;
  }

  .content {
    margin: initial;
    align-items: flex-start;
    padding: 2.75rem;
    position: relative;
    z-index: 1;
  }

  .content .logo {
    width: 8.4281rem;
    margin-top: 9.75rem;
    margin-bottom: 6.5rem;
  }
  .content__contain {
    display: flex;
    flex-direction: column;
    width: 37rem;
    align-items: flex-start;
    text-align: left;
    background-color: var(--clr-blue-950);
  }

  .heading {
    max-width: var(--w-tablet);
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }

  .heading h1 {
    font-weight: 100;
    width: 70%;
  }

  .heading p {
    font-weight: 100;
  }

  form {
    position: relative;
    width: var(--w-tablet);
  }

  form input[type='email'] {
    width: var(--w-tablet);
  }

  form button {
    position: absolute;
    top: 2px;
    right: 2.5px;
    width: 10.75rem;
  }

  .alert-text {
    position: absolute;
    bottom: -3.3rem;
    left: 2rem;
    width: 100%;
    height: 100%;
  }

  .logos {
    order: 99;
    margin-top: 5rem;
    width: 34.375rem;
    gap: 2.5rem;
  }

  .pattern-dots {
    display: block;
    width: auto;
    transform: translate(calc(100vw - 128px), -9rem);
  }
}

@media screen and (min-width: 1440px) {
  main {
    margin-top: 9.5625rem;
  }
  .content {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .content__contain {
    width: 46rem;
  }

  .heading {
    max-width: 100%;
  }

  .heading h1 {
    max-width: 100%;
    font-size: 3rem;
  }

  .heading h1 span {
    display: block;
  }

  .heading p {
    font-weight: 400;
    max-width: 28rem;
    font-size: 125%;
  }

  form {
    max-width: 28rem;
  }

  .pattern-dots {
    transform: translate(calc(100vw - 95%), -9rem);
  }
}
